
[gcode_macro PUBLISH_ALERT]
 gcode:
   {% set data = params.PAYLOAD|default(None) %}
   {action_call_remote_method("publish_mqtt_topic",
                              topic="klipper/alert",
                              payload=data,
                              qos=0,
                              retain=False,
                              use_prefix=False)}

### M300
[gcode_macro M300]
gcode:
    {% set P = params.P|default(100)|float %}
    SET_PIN PIN=beeper VALUE=1
    G4 P{P}
    SET_PIN PIN=beeper VALUE=0

[gcode_macro BEEP]
description: Emite un pitido.\n Uso BEEP [R=NUMERO DE PITIDOS]
gcode:
    {% if 'output_pin beeper' in printer.configfile.settings and printer["gcode_macro M300"] is defined %}
        {% set R = params.R|default(1)|int %}
        {% for i in range(R) %}
            M300 P200
            #M300
            G4 P100
        {% endfor %}
    {% endif %}