### USER OVERRIDES
###################################################
#######>>>>>>>>>>  3DPrintDemon  <<<<<<<<<<<#######
#######   https://github.com/3DPrintDemon   #######

## Client variable macro for your printer.cfg
[gcode_macro _CLIENT_VARIABLE]

variable_use_custom_pos   : False #; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 115.50   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : -9.00   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.4   ; the value to retract while PAUSE
variable_cancel_retract   : 1.4 #5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True   #; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  #; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  #; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# ## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
# variable_use_fw_retract   : True  #; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 600    # ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : "filament_switch_sensor Filamento"   # ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
# ##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
# ## !!! Custom macros, please use with care and review the section of the corresponding macro.
# ## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
# ## Only  single line commands are supported, please create a macro if you need more than one command.
variable_user_pause_macro : "_DEMON_PAUSE"    #; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
variable_user_resume_macro: "_DEMON_RESUME"    #; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: "_DEMON_CANCEL"    #; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

################################################## CHANGE YOUR START PRINT VALUES HERE!! ##########################################################
###################################################################################################################################################

[gcode_macro _START_VARIABLES]
###################################################################################################################################################
## SYSTEM VARIABLES ###############################################################################################################################

variable_orca_enable: True                     # ONLY available for Orca Slicer! Enable DEMON Adaptive Pressure Advance & multi surface features True/False
variable_floating_bed_fans: False                # Set the bed fans monitor to use floating fan speeds against a mid point chamber temp during printing True/False
variable_adaptive_meshing: True                 # Set to use Klipper's Adaptive Meshing for building a new mesh for model area for each print True/False
variable_use_kamp_adaptive_purge: True           # Set True to use KAMP adaptive Purge, or False to use Legacy Static purge 
variable_use_kamp_smart_park: True               # Set True to use KAMP Smart Park, or False to use build space centre

###################################################################################################################################################
## DEMON HOMING CONTROL SETTINGS ##################################################################################################################

variable_home_y_first: True                     # Set True to home the Y axis first. Set False to home X first
variable_axis_backoff_distance: 0 #20               # Set distance in mm to back the toolhead away from the axis endstop
variable_axis_register_clear_wait: 0 # 2.5           # Set axis register clear time. If using sensorless this value should be 2 seconds or slightly over
variable_set_probe_custom_x: 144.50                 # Set custom X probe position for your bltouch/eddy probe
variable_set_probe_custom_y: 132.00                 # Set custom Y probe position for your bltouch/eddy probe

###################################################################################################################################################
## FILAMENT CHANGE/LOAD/UNLOAD MACRO SETTINGS #####################################################################################################

variable_load_length: 100                        # Length of filament to load from being empty
variable_load_purge_length: 25                   # How much filament to purge when loading
variable_unload_length: 100                      # Length of filament to unload from being fully loaded
variable_unload_purge_length: 25                 # How much filament to purge when unloading

###################################################################################################################################################
## PRINTER HEAT SOAK HANDLING #####################################################################################################################

variable_start_my_print_already: True           # Im in a rush & want to totally bypass the heat soak in all PRINT_START calls True/false

###################################################################################################################################################
## OTHER ##########################################################################################################################################

variable_printer_lights_finish: 0                # Level to set lights to at end of print 0.1-1.0 (0.1=10%, 1=100%)

###################################################################################################################################################
## PRINTER HARDWARE OPTIONS #######################################################################################################################
                 
variable_printer_lights: True                   # Do you have controlable lights on your printer True/False

###################################################################################################################################################
## WELCOME MESSAGES ###############################################################################################################################

variable_screen_msg: "Impresora de Javi Lopez On-Line"
variable_console_msg: "Welcome to Demon Essentials! Happy printing! These macros were written by a human, no AI was used in their creation!"

## NOTE: To set your own welcome messages please enclose it in quote marks or it wont work ("")
## NOTE: The screen_msg is best kept short

################################################# CHANGE YOUR Z CALIBRATION VALUES HERE!! #########################################################
###################################################################################################################################################

[gcode_macro _Z_CALIBRATION_VARIABLES]

variable_noz_pre_temp: 150                       # Set nozzle preheat temp (180)










