### USER OVERRIDES

## KAMP (Klipper Adaptive Meshing Purgue)
[gcode_macro _KAMP_Settings]
# Set to True to enable KAMP information output when running. This is useful for debugging.
variable_verbose_enable: False

## Client variables
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : False #; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 140   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : -12   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.4   ; the value to retract while PAUSE
variable_cancel_retract   : 1.4 #5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 40.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True   #; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None   #; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None   #; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# ## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False   #; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 600    # ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : "filament_switch_sensor filament_sensor"   # ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
# ##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
# ## !!! Custom macros, please use with care and review the section of the corresponding macro.
# ## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
# ## Only  single line commands are supported, please create a macro if you need more than one command.
variable_user_pause_macro : "_DEMON_PAUSE"    #; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
variable_user_resume_macro: "_DEMON_RESUME"    #; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: "_DEMON_CANCEL"    #; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function

gcode:

## Start Variables
[gcode_macro _START_VARIABLES]
###################################################################################################################################################
## SYSTEM VARIABLES ###############################################################################################################################

variable_orca_enable: False                     # ONLY available for Orca Slicer! Enable DEMON Adaptive Pressure Advance & multi surface features True/False
variable_floating_bed_fans: False               # Set the bed fans monitor to use floating fan speeds against a mid point chamber temp during printing True/False 
variable_disable_set_flow: True                 # Set True to disable all flow setting variables within the Print_Start macro True/False 
variable_adaptive_meshing: True                 # Set to use Klipper's Adaptive Meshing for building a new mesh for model area for each print True/False

###################################################################################################################################################
## DEMON HOMING CONTROL SETTINGS ##################################################################################################################

variable_axis_backoff_distance: 0 #20               # Set distance in mm to back the toolhead away from the axis endstop
variable_axis_register_clear_wait: 0 # 2.5          # Set axis register clear time. If using sensorless this value should be 2 seconds or slightly over
variable_set_probe_point_default: False             # Set False if you want a custom probing point for your bltouch/eddy probe
variable_set_probe_custom_x: 144.50                 # Set custom X probe position for your bltouch/eddy probe
variable_set_probe_custom_y: 132.00                 # Set custom Y probe position for your bltouch/eddy probe

###################################################################################################################################################
## PRESENT & STOW_TOOLHEAD MACRO OPTIONS ##########################################################################################################

variable_stow_toolhead_x: 117.5                     # Set the X axis position to park the STOW_TOOLHEAD macro
variable_stow_toolhead_y: 229                       # Set the Y axis position to park the STOW_TOOLHEAD macro
variable_stow_toolhead_z: 40                        # Set the Z axis position to park the STOW_TOOLHEAD macro - Range 5-50mm in whole numbers, no points.

###################################################################################################################################################
## FILAMENT CHANGE/LOAD/UNLOAD MACRO SETTINGS #####################################################################################################

variable_filament_change_park_x: 142              # Set X axis position to park for filament change
variable_filament_change_park_y: -12              # Set Y axis position to park for filament change
variable_load_length: 70                          # Length of filament to load from being empty
variable_load_purge_length: 25                    # How much filament to purge when loading
variable_unload_length: 80                        # Length of filament to unload from being fully loaded
variable_unload_purge_length: 10 #25              # How much filament to purge when unloading

###################################################################################################################################################
## PRINTER HEAT SOAK HANDLING #####################################################################################################################

variable_start_my_print_already: True           # Im in a rush & want to totally bypass the heat soak in all PRINT_START calls True/false

###################################################################################################################################################
## OTHER ##########################################################################################################################################

variable_printer_lights_finish: 0                # Level to set lights to at end of print 0.1-1.0 (0.1=10%, 1=100%)

###################################################################################################################################################
## PRINTER HARDWARE OPTIONS #######################################################################################################################
                 
variable_printer_lights: False                  # Do you have controlable lights on your printer True/False
variable_nozzle_cleaner: True                   # Do you have a nozzle cleaner brush/srubber True/False
variable_purge_bucket: True                     # Do you have a purge bucket

###################################################################################################################################################
## WELCOME MESSAGES ###############################################################################################################################

variable_screen_msg: "Impresora de Javi Lopez On-Line"
variable_console_msg: "Welcome to Demon Essentials! Happy printing! These macros were written by a human, no AI was used in their creation!"

## NOTE: To set your own welcome messages please enclose it in quote marks or it wont work ("")
## NOTE: The screen_msg is best kept short
gcode:

##################################################
######### CUSTOM EXPANSION ACTIVE LIST ###########
##################################################

[gcode_macro CUSTOM_EXPANSION_ACTIVE_LIST]

###################################################################################################################################################
## PRINT_START EXAPANSION #########################################################################################################################
variable_ceal_master_enable: True
###################################################################################################################################################
## LOAD_FILAMENT EXPANSION ########################################################################################################################
variable_pre_load: True
variable_post_load: True
###################################################################################################################################################
## UNLOAD_FILAMENT EXPANSION ######################################################################################################################
variable_pre_unload: True
variable_post_unload: True
###################################################################################################################################################
## LOAD_CLEAN_FILAMENT EXPANSION ##################################################################################################################
variable_pre_load_clean: True
variable_post_load_clean: True
###################################################################################################################################################
## UNLOAD_CLEAN_FILAMENT EXPANSION ################################################################################################################
variable_pre_unload_clean: True
variable_post_unload_clean: True   
###################################################################################################################################################
## PID TUNE EXPANSION ################################################################################################################
variable_pre_pid_tune_mode: True
variable_post_pid_tune_mode: True

gcode: 

##################################################
############### CLEAN VARIABLES ##################
##################################################

[gcode_macro _CLEAN_VARIABLES]

variable_have_you_set_this_up: True             # Have you set this feature up? Change here to use! True/False

## GLOBAL CLEANING SETTINGS

variable_random_clean_x: True                   # Choose random or linear cleaning motion for X axis set True/False
variable_random_clean_y: True                   # Choose random or linear cleaning motion for Y axis set True/False
variable_clean_travel_speed: 200                # Set Speed to travel to cleaning start position in mm/s
variable_pass_spd: 250                          # Set cleaning pass speed in mm/s
variable_end_position_x: 140                    # End cleaning position for X - SV08 Demon Purge Bucket X 320, or for stock setup use 351
variable_end_position_y: -12                    # End cleaning position for Y - SV08 Demon Purge Bucket Y 359, or for stock setup use 359
variable_park_x: 140                            # - SV08 Demon Purge Bucket X 344
variable_park_y: -12                            # - SV08 Demon Purge Bucket Y 345
variable_park_z: 16                             # - SV08 Demon Purge Bucket Z 25

## LINEAR CLEANING MODE

variable_linear_pass_count: 6                   # Number of cleaning pass actions
variable_linear_clean_start_x: 80               # Linear start cleaning postion for X axis
variable_linear_clean_start_y: -9               # Linear start cleaning postion for Y axis
variable_linear_clean_start_z: 1.5              # Linear start cleaning postion for Z axis - CLEANING HEIGHT!
variable_linear_clean_axis: "X"                 # Set to clean along X or Y axes - DONT GET THIS WRONG! Option must be inside quotation marks ("X" or "Y")
variable_linear_clean_positive_dir: True        # Set to True to clean in a positive direction away from your start position, set False for negative
variable_linear_clean_distance: 33              # Set how far to move the nozzle from your start position to suit your cleaing pad/brush 

## RANDOM CLEANING MODE

variable_pass_count: 40                          # Number of cleaning pass actions - needs much higher value than linear mode
variable_start_x: 79                             # Start cleaning postion for X - SV08 Demon Purge Bucket X 294, or for stock setup use 316 
variable_start_y: -9                             # Start cleaning postion for Y - SV08 Demon Purge Bucket Y 359, or for stock setup use 359
variable_start_z: 1.5                            # Start cleaning postion for Z - SV08 Demon Purge Bucket Z 3, or for stock setup use 0.5
variable_clean_min_x: 79                         # Min safe X axis for random clean movements - SV08 Demon Purge Bucket Xmin 303
variable_clean_max_x: 115                        # Max safe X axis for random clean movements - SV08 Demon Purge Bucket Xmax 335
variable_clean_min_y: -12                        # Min safe Y axis for random clean movements - SV08 Demon Purge Bucket Ymin 356
variable_clean_max_y: -9                         # Max safe Y axis for random clean movements - SV08 Demon Purge Bucket Ymax 362

## PURGE BUCKET SETTINGS

variable_nozzle_pre_temp: 150                    # Temperature to preheat to before homing
variable_nozzle_post_temp: 190                   # Temperature to reach after filament purge but before cleaning
#variable_load_clean_load_dist: 70               # Distance to load filament during the load
#variable_load_clean_purge_dist: 30 #30          # Distance to purge filament during the load
#variable_unload_clean_unload_dist: 80           # Distance to unload filament during the unload
#variable_unload_clean_purge_dist: 10 #20        # Distance to purge filament during the unload
variable_purge_min_x: 122                        # Min safe range of purge bucket along X axis for random park - SV08 Demon Purge Bucket Xmin 220
variable_purge_max_x: 162                        # Max safe range of purge bucket along X axis for random park - SV08 Demon Purge Bucket Xmax 255
variable_purge_y_park: -12                       # Y position to park at for filament purge - SV08 Demon Purge Bucket Y 363
variable_purge_z_park: 1.5                       # Z position to park at for filament purge

## VARIABLE REASIGNATION
gcode:
  {% set variable_load_clean_load_dist = printer['gcode_macro _START_VARIABLES'].load_length %}
  {% set variable_load_clean_purge_dist = printer['gcode_macro _START_VARIABLES'].load_purge_length %}
  {% set variable_unload_clean_unload_dist = printer['gcode_macro _START_VARIABLES'].unload_length %}
  {% set variable_unload_clean_purge_dist = printer['gcode_macro _START_VARIABLES'].unload_purge_length %}


